
### Eclipse ###
.settings/
.recommenders
.classpath
.project
target/

### Dataset ###
dataset/

### Models ###
models/

### Config ###
config.toml

### Testing ###
test/

### Others ###
design
*.csv

.DS_Store
